# Data Processing Problem 2


## Author :- Anuja Jain 
## Date :- 22 Apr 2021 
## Distributed Platform :-  PySpark

### Import all the required libraries

In [1]:
import os
import sys
import findspark
import time

# Initialize Findspark to locate Pyspark installed in the system
findspark.init()

# Import Pyspark libraries and functions
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import concat, col, lit, udf, when
from pyspark.sql.types import ArrayType, IntegerType, StringType , DateType

# Import Faker (3rd party library) used to generate anonymized data
from faker import Factory

### Setup Spark Context and set the master as local for standalone cluster

In [2]:
sc = SparkContext(conf=SparkConf().setAppName("LFApp").setMaster("local"))
sqlc=SQLContext(sc)

### Read the employee data  (Downloaded from : http://eforexcel.com/wp/downloads-16-sample-csv-files-data-sets-for-testing/ )

In [3]:
df = sqlc.read.csv('./Dataset/Records5m.csv', header = True)

In [4]:
# Find the number of rows
df.count()

5000000

In [5]:
# Dataset columns
df.columns

['Emp ID',
 'Name Prefix',
 'First Name',
 'Middle Initial',
 'Last Name',
 'Gender',
 'E Mail',
 "Father's Name",
 "Mother's Name",
 "Mother's Maiden Name",
 'Date of Birth',
 'Time of Birth',
 'Age in Yrs.',
 'Weight in Kgs.',
 'Date of Joining',
 'Quarter of Joining',
 'Half of Joining',
 'Year of Joining',
 'Month of Joining',
 'Month Name of Joining',
 'Short Month',
 'Day of Joining',
 'DOW of Joining',
 'Short DOW',
 'Age in Company (Years)',
 'Salary',
 'Last % Hike',
 'SSN',
 'Phone No. ',
 'Place Name',
 'County',
 'City',
 'State',
 'Zip',
 'Region',
 'User Name',
 'Password']

In [6]:
# Showcasing first few rows 
df.show(5)

+------+-----------+----------+--------------+---------+------+--------------------+---------------+------------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+--------------------+----------+-----+-----+-------+----------+--------------+
|Emp ID|Name Prefix|First Name|Middle Initial|Last Name|Gender|              E Mail|  Father's Name|     Mother's Name|Mother's Maiden Name|Date of Birth|Time of Birth|Age in Yrs.|Weight in Kgs.|Date of Joining|Quarter of Joining|Half of Joining|Year of Joining|Month of Joining|Month Name of Joining|Short Month|Day of Joining|DOW of Joining|Short DOW|Age in Company (Years)|Salary|Last % Hike|        SSN|  Phone No. |Place Name|              County|      City|State|  Zip| Region| User Name|      Password|
+------+-----------+----------+--------------+---------+------+--------------------+---------------+------------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+--------------------+----------+-----+-----+-------+----------+--------------+
|742048|       Drs.|    Lizeth|             P|   Mccoll|     F|lizeth.mccoll@ibm...|  Renato Mccoll|     Serena Mccoll|             Broxton|     7/5/1973|  08:14:43 AM|      47.19|            49|       1/7/1995|                Q1|             H1|           1995|               1|              January|        Jan|             7|      Saturday|      Sat|                 25.67|147446|        14%|171-86-6830|216-703-2865|  Alliance|               Stark|  Alliance|   OH|44601|Midwest|  lpmccoll|    b5CDsd1Mz.|
|671135|        Ms.| Argentina|             O|     Hern|     F|argentina.hern@nt...|      Earl Hern|      Chrissy Hern|              Tapley|   10/15/1962|  02:08:22 AM|      57.92|            53|       4/1/1986|                Q2|             H1|           1986|               4|                April|        Apr|             1|       Tuesday|      Tue|                 34.44|129174|         8%|083-02-3078|202-572-0136|Washington|District of Columbia|Washington|   DC|20411|  South|    aohern|vsUv&nFc?lM|2-|
|965851|        Mr.|    Damian|             N|  Patillo|     M|damian.patillo@ou...| Harley Patillo|   Lucinda Patillo|               Etter|    3/11/1975|  07:48:45 PM|      45.51|            84|     12/16/2004|                Q4|             H2|           2004|              12|             December|        Dec|            16|      Thursday|      Thu|                 15.72|158746|         8%|326-11-9852|209-784-3915|    Burrel|              Fresno|    Burrel|   CA|93607|   West| dnpatillo|  GQj^c:4#B:F8|
|224660|       Drs.|   Imogene|             P| Hagopian|     F|imogene.hagopian@...|Delmar Hagopian| Carolina Hagopian|             Lockett|    2/19/1995|  03:15:09 PM|      25.55|            52|       6/8/2017|                Q2|             H1|           2017|               6|                 June|        Jun|             8|      Thursday|      Thu|                  3.23| 55761|        14%|656-36-0772|210-460-6327|     Bryan|              Brazos|     Bryan|   TX|77806|  South|iphagopian|    d[aHK7aiH&|
|852694|        Mr.|    Walker|             E|  Wallach|     M|walker.wallach@ao...|   Gale Wallach|Georgianna Wallach|           Creekmore|     8/5/1992|  01:03:46 PM|      28.09|            50|      2/28/2020|                Q1|             H1|           2020|               2|             February|        Feb|            28|        Friday|      Fri|                  0.51|197519|        24%|296-15-3535|225-846-1969|  Newllano|              Vernon|  Newllano|   LA|71461|  South| wewallach|      kM\7h*}7|
+------+-----------+----------+--------------+---------+------+--------------------+---------------+------------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+--------------------+----------+-----+-----+-------+----------+--------------+
only showing top 5 rows

### Generate an address column by combining Place, country, city, state and zip

In [7]:
df = df.withColumn('Address', concat(col('Place Name'), lit(', '), col('County'),
                                     col('City'), lit(', '),col('State'),lit(', '),col('Zip')))

### select only required columns

In [8]:
df_selc = df.select('Emp ID','First Name','Last Name','Date of Birth','Address', 'Gender')

In [9]:
# Finding the size of the data in memory
subset_size = sys.getsizeof(df_selc.limit(100).toPandas())
nrows = df_selc.count()
print("size in memory: {:.3f} GB".format(subset_size/100*nrows/1E9))

size in memory: 2.044 GB

In [10]:
df_selc.show(10)

+------+----------+---------+-------------+--------------------+------+
|Emp ID|First Name|Last Name|Date of Birth|             Address|Gender|
+------+----------+---------+-------------+--------------------+------+
|742048|    Lizeth|   Mccoll|     7/5/1973|Alliance, StarkAl...|     F|
|671135| Argentina|     Hern|   10/15/1962|Washington, Distr...|     F|
|965851|    Damian|  Patillo|    3/11/1975|Burrel, FresnoBur...|     M|
|224660|   Imogene| Hagopian|    2/19/1995|Bryan, BrazosBrya...|     F|
|852694|    Walker|  Wallach|     8/5/1992|Newllano, VernonN...|     M|
|144102|  Jesusita|   Hollie|   10/30/1987|Topanga, Los Ange...|     F|
|687793|    Fausto|  Esqueda|    4/23/1971|Somerdale, Tuscar...|     M|
|636308|     Vanda|    Komar|     9/2/1962|Akron, SummitAkro...|     F|
|218660|   Destiny|Nicholson|     7/1/1995|Atlantic City, At...|     F|
|465691|      Evie|    Hamby|    6/22/1980|Rockaway, MorrisR...|     F|
+------+----------+---------+-------------+--------------------+------+
only showing top 10 rows

### Create Pyspark UDF for anonymizing required columns by generating similar fake columns . 
####     Here , we filter out male and female employees and anonymize them seperately to maintain the gender of the fake name

In [11]:
#pyspark UDF
faker  = Factory.create()
anonymize_male = udf(lambda n : faker.first_name_male(), StringType())
anonymize_female = udf(lambda n : faker.first_name_female(), StringType())
anonymize_female_lst = udf(lambda n : faker.last_name_female(), StringType())
anonymize_male_lst = udf(lambda n : faker.last_name_male(), StringType())
anonymize_addr = udf(lambda n: faker.address(), StringType())

In [12]:
# Create a new dataframe that has both the original and fake columns for comparison
start = time.time()

df_fake = df_selc.withColumn("Fake_First_name", when(col("Gender") == "M",anonymize_male(col("First Name")))
      .when(col("Gender") == "F",anonymize_female(col("First Name")))) \
     .withColumn("Fake_Last_name", when(col("Gender") == "M",anonymize_male_lst(col("Last Name")))
      .when(col("Gender") == "F",anonymize_female_lst(col("First Name")))) \
    .withColumn("Fake Addrs", anonymize_addr(col("Address")))
end = time.time()
print ("Total Processing Time (in seconds) to anonymize First name, Last Name and address for 2GB data: ",end-start)

Total Processing Time (in seconds) to anonymize First name, Last Name and address for 2GB data:  0.18032479286193848

In [13]:
df_fake.show(10)

+------+----------+---------+-------------+--------------------+------+---------------+--------------+--------------------+
|Emp ID|First Name|Last Name|Date of Birth|             Address|Gender|Fake_First_name|Fake_Last_name|          Fake Addrs|
+------+----------+---------+-------------+--------------------+------+---------------+--------------+--------------------+
|742048|    Lizeth|   Mccoll|     7/5/1973|Alliance, StarkAl...|     F|          Erica|        Morris|0413 Laura Island...|
|671135| Argentina|     Hern|   10/15/1962|Washington, Distr...|     F|        Darlene|          King|222 Smith Land
Ea...|
|965851|    Damian|  Patillo|    3/11/1975|Burrel, FresnoBur...|     M|         Olivia|          Wolf|561 White Plain S...|
|224660|   Imogene| Hagopian|    2/19/1995|Bryan, BrazosBrya...|     F|         Amanda|       Johnson|7983 Dylan Groves...|
|852694|    Walker|  Wallach|     8/5/1992|Newllano, VernonN...|     M|        Rebecca|       Salinas|66816 Tammy Avenu...|
|144102|  Jesusita|   Hollie|   10/30/1987|Topanga, Los Ange...|     F|       Michelle|      Mckinney|197 Wu Gateway Ap...|
|687793|    Fausto|  Esqueda|    4/23/1971|Somerdale, Tuscar...|     M|         Andrea|         Jones|7643 Cassandra In...|
|636308|     Vanda|    Komar|     9/2/1962|Akron, SummitAkro...|     F|         Cheryl|           Lee|15012 Nancy Stree...|
|218660|   Destiny|Nicholson|     7/1/1995|Atlantic City, At...|     F|        Rebecca|         Hogan|63521 Lyons Villa...|
|465691|      Evie|    Hamby|    6/22/1980|Rockaway, MorrisR...|     F|          Emily|       Stewart|417 Myers Hollow
...|
+------+----------+---------+-------------+--------------------+------+---------------+--------------+--------------------+
only showing top 10 rows

## Select the required columns and rename them as original columns to maintain anonymity

In [14]:
df_final = df_fake.select('Emp ID','Fake_First_name','Fake_Last_name','Date of Birth','Fake Addrs')

In [15]:
df_final = df_final.withColumnRenamed('Fake_First_name','First Name').withColumnRenamed('Fake_Last_name','Last Name') \
            .withColumnRenamed('Fake Addrs','Address')

In [16]:
df_final.show(10)

+------+----------+---------+-------------+--------------------+
|Emp ID|First Name|Last Name|Date of Birth|             Address|
+------+----------+---------+-------------+--------------------+
|742048|     Erica|   Morris|     7/5/1973|0413 Laura Island...|
|671135|   Darlene|     King|   10/15/1962|222 Smith Land
Ea...|
|965851|    Olivia|     Wolf|    3/11/1975|561 White Plain S...|
|224660|    Amanda|  Johnson|    2/19/1995|7983 Dylan Groves...|
|852694|   Rebecca|  Salinas|     8/5/1992|66816 Tammy Avenu...|
|144102|  Michelle| Mckinney|   10/30/1987|197 Wu Gateway Ap...|
|687793|    Andrea|    Jones|    4/23/1971|7643 Cassandra In...|
|636308|    Cheryl|      Lee|     9/2/1962|15012 Nancy Stree...|
|218660|   Rebecca|    Hogan|     7/1/1995|63521 Lyons Villa...|
|465691|     Emily|  Stewart|    6/22/1980|417 Myers Hollow
...|
+------+----------+---------+-------------+--------------------+
only showing top 10 rows